<div class="jumbotron">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<h1 class="text-justify">Hola. Mi nombre es <span class="highlight">Marlon Jon</span>, tengo ideas creativas y creo sitios webs.</h1>
			<br />
			<br />
		</div>
		<div class="col-md-3 col-md-offset-5 col-sm-offset-5 col-xs-offset-1">
			<a href="#MasInfo" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-info-sign"></span> Mas Informacion</a>
			<br />
			<br />
			<br />
			<br />
			<br />	
		</div>
	</div>	
</div>
<div class="form">
	<div class="container-fluid">
		<div class="col-md-6 col-md-offset-3">
			<div class="text-center">
				<p>Suscríbete para estar informado de las web´s que voy realizando a lo largo del Tiempo y sobre todo ofertas exclusivas.</p>
				<%= render 'form' %>			
			</div>
		</div>	
	</div>
</div>
<span id="MasInfo"></span>
<hr />
<br />
<br />
<br />
<div class="container">
	<h1 class="col-md-offset-1">Mis Conocimientos en Programacion</h1>
	<br />
	<br />
	<br />
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="text-center">
				<a href="http://es.wikipedia.org/wiki/HTML">
					<%= image_tag "framework/html.png", :class => "programacion" %>
				</a>			
				<h3>EL PRIMER LADRILLO</h3>
				<p class="text-justify">Con HTML y tus indicaciones e informacion, creo una estructura como el cemento y los ladrillos de una super casa. Pero con eso seria un poco dificil de vender para una inmobiliaria. Faltaria algo mas ¿verdad?</p>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<div class="text-center">
				<a href="http://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada">
					<%= image_tag "framework/css.png", :class => "programacion" %>
				</a>
				<h3>DECORANDO LA CASA</h3>
				<p class="text-justify">Con CSS creanos absolutamente toda la decoracion del hogar, nuestra nueva casa con pintura en las paredes, techo y suelo, plantas y fotos. Y mucho, mucho mas. Pero que es todo esto sin electricidad. Una cueva.</p>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<div class="text-center">
				<a href="http://es.wikipedia.org/wiki/JavaScript">
					<%= image_tag "framework/js.png", :class => "programacion" %>
				</a>
				<h3>Y SE IZO LA LUZ PUFF</h3>
				<p class="text-justify">JavaScript es la interfaz de programacion para que el interruptor de la cocina, al presionarla, encienda la luz, cuando coges el mando de la television y apretas el boton para encenderla y se enciende. Esto ya parece una casa.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="text-center">
				<a href="http://getbootstrap.com/">
					<%= image_tag "framework/bs.png", :class => "programacion" %>
				</a>			
				<h3>BASE DE CODIGOS</h3>
				<p class="text-justify">Contiene plantillas de diseño con tipografía, formularios, botones, cuadros, menús de navegación y otros elementos de diseño basado en HTML y CSS, así como, extensiones de JavaScript. Es el más popular en GitHub1 y es usado por la NASA y la MSNBC.</p>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<div class="text-center">
				<a href="http://rubyonrails.org/">
					<%= image_tag "framework/rails.png", :class => "programacion" %>
				</a>
				<h3>GUARDANDO INFO</h3>
				<p class="text-justify">Trata de combinar la simplicidad con la posibilidad de desarrollar aplicaciones del mundo real escribiendo menos código que con otros frameworks y con un mínimo de configuración. Esta web esta creada con este framework y alojada en <a href="https://www.heroku.com">HEROKU</a>.</p>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<div class="text-center">
				<a href="https://github.com">
					<%= image_tag "framework/git.jpg", :class => "programacion" %>
				</a>
				<h3>GRUPO TRABAJANDO</h3>
				<p class="text-justify">GitHub es una forja (plataforma de desarrollo colaborativo) para alojar proyectos utilizando el sistema de control de versiones Git. Utiliza el framework Ruby on Rails. El código se almacena de forma pública, aunque también se puede hacer de forma privada.</p>
			</div>
		</div>
	</div>
</div>
<br />
<br />
<br />
<br />
<br />

